div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link {
  text-decoration: none;
  color: black;
  border-bottom-color: rgb(43, 179, 187);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  font-weight: 600;
  transition-delay: 0;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
}

.link:hover {
  background-color: rgb(43, 179, 187);
  transition-delay: 0;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}

.rc-slider {
  display: flex;
  width: 200px;
  margin: 20px;
  align-items: center;
}

.rc-slider-handle {
  opacity: 0;
}

.back {
  margin-left: 40px;
}

.bar-container {
  display: flex;
  align-items: flex-end;
}

.rc-select {
  width: 200px;
  margin: 20px;
}

.selector-container {
  display: flex;
  align-self: flex-end;
}

.skill {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.skills {
  background-color: rgb(223, 244, 245);
  height: auto;
  margin:20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.attributes {
  background-color: rgb(223, 244, 245);
  height: auto;
  margin:20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.skillText {
  display: flex;
  width: auto;
  height: 100%;
  font-size: minmax(100%, 5vw);
  font-weight: 600;
  align-items: center;
  text-decoration: none;
}