.App {
  text-align: center;
}

.App-header {
  background-color: rgb(245, 99, 99);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rc-slider {
  width: 200px;
  margin: 20px;
}

.bar-container {
  display: flex;
  align-items: flex-end;
}

.rc-select {
  width: 200px;
  margin: 20px;
}

.selector-container {
  display: flex;
  align-self: flex-end;
}

.skill {
  background-color: blanchedalmond;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.skills {
  background-color: rgb(3, 99, 11);
  height: auto;
  margin:20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.attributes {
  background-color: rgb(3, 99, 11);
  height: auto;
  margin:20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.skillText {
  display: flex;
  width: auto;
  height: 100%;
  font-size: minmax(100%, 5vw);
  align-items: center;
}